{% extends 'base-generic.html' %}

{% block main %}
<h1 class="text-center">Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Cum et facere ipsa pariatur nulla repellat, cumque laborum sed. 
    Corrupti commodi molestias adipisci sed hic iure magnam possimus tempore doloribus unde,
    in eum laudantium inventore labore velit, distinctio iste accusamus blanditiis!
    Laborum eveniet deserunt nostrum molestiae iure error soluta accusamus nulla rem velit. 
    Et veritatis labore error sunt asperiores. Suscipit enim magnam temporibus. 
    Inventore enim adipisci deserunt voluptates tenetur, 
    exercitationem voluptatem ipsa reiciendis magni vitae optio dicta atque doloremque 
    commodi voluptatibus vel quia illo saepe natus fugit. Inventore voluptates ducimus, 
    repellat modi ab enim minima tempora molestiae? Dolorum molestias aperiam eligendi.
</p>
{% endblock %}
